 <div class="section">
            <div class="container">	
            	<div class="row">
            		<div class="col-md-6 col-md-offset-3"><div class="vspacer1"></div></div>
            	</div>
            	<div class="row">
            		<div class="col-md-6 col-md-offset-3"><center><%= image_tag("clinicaaxonazul.png", class: 'center') %></center></div>
            	</div><div class="row">
            		<div class="col-md-6 col-md-offset-3">
            		<div class="panel panel-default">
							  	<div class="panel-body">
								<div class="span12">
						
			<label>Teléfono
				</label>
			<div class="input-append"><input type="text" id="" name=""><span class="add-on"><i class="icon-search"></i></span></div>

			<label>Textbox with calendar icon</label>
			<div class="input-append"><input type="text" id="" name=""><span class="add-on"><i class="icon-calendar"></i></span></div>

			<label>Textbox for email</label>
			<div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span><input type="text" id="" name=""></div>

			<label>Textbox for user name</label>
			<div class="input-prepend"><span class="add-on"><i class="icon-user"></i></span><input type="text" id="" name=""></div>

			<label>Textbox for website</label>
			<div class="input-prepend"><span class="add-on"><i class="icon-globe"></i></span><input type="text" id="" name=""></div>

			<label>Textbox for uploading an image</label>
			<div class="input-prepend input-append"><span class="add-on"><i class="icon-picture"></i></span><input type="text" id="" name=""><button class="btn" type="button">Upload</button></div>
		</div>
	</div>
</div>
				
				
		



<h1>Session.nuevo</h1>
<h2><%= @respuesta.class %></h2>
<h2><%= @goo.class %></h2>
<h2><%= self.instance_variables %></h2>